@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #876842;
    --black: #022135;
    --bg: #D3D3D3;
    --border: .1rem solid rgba(255, 255, 255, .3);
    --light-blue: #b0bbc3f9;
    --social-icons: .1rem solid rgba(14, 45, 67, 0.297);
}
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}



/* Adicione estas regras ao seu arquivo CSS */

#cadastro {
    max-width: 120rem;
    margin: 0 auto;
    padding: 15rem;
    background-color:var(--bg);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

#cadastro input[type="text"],
#cadastro input[type="email"],
#cadastro input[type="number"],
#cadastro input[type="date"],
#cadastro select {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

#cadastro button[type="submit"] {
    width: 100%;
    padding: 1rem;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#cadastro button[type="submit"]:hover {
    background-color: var(--main-color);
}

#cadastroPessoa{
    text-align: center;
}